:root {
    --primary: #5eb6e1;
    --primary-light: #00a2ff;
    --secondary: #ff6c2c;
    --purple: #945b9f;
    --header-text: rgb(41, 47, 57);
    --light-text: #9e9e9e;
    --dark: #222224;
    --footer-dark: #19191c;
}