@import "/_variables.css";
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); */
/* @import "assets/fonts/Roboto/"; */

.hide {
    display: none;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.page-header__toggler {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    /* background: green; */
    padding: 20px 20px;
}


.page-header__logo {
    border: 2px solid rgb(25, 87, 25);
}

.page-header__logo .page-header__img {
    align-self: center;
    margin-top: 3px;
}

.page-header__nav-whts-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: auto;
}

.page-header__menu {
    margin: 0 auto;
}

.page-header__ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-header__list {
    list-style-type: none;
}

.page-header__list
+
.page-header__list {
    margin-left: 20px;
}


.link {
    text-decoration: none;
    color: var(--dark);
    transition: all 200ms ease-out;
}

.page-header__link {
    font-weight: 600;
}

.page-header__list:hover .page-header__link,
.page-header__whts-link:hover {
    color: var(--primary);
}

.page-header__whts-contact {
    display: flex;
    align-items: center;
}

.page-header__whts-icon {
    width: 18px;
    margin-right: 10px;
}

/* hero section */

.hero {
    background: url('/assets/images/girl-resting-after-exercises-gym_152625-820_auto_x2_auto_x2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    max-width: 1500px;
    min-height: 571px;
    height: 100%;
}

.hero__text-wrapper {
    display: flex;
}

.hero__text {
    max-width: 60%;
    padding: 160px 10px 20px 20px;
}

.hero__paragraph {
    color: #c7c7c7;
    margin: 10px 0 80px 0;
}

.hero__heading {
    color: #ffffff;
    font-size: 46px;
    /* font-weight: 600; */
}

.hero__button {
    color: #fff;
    width: 100%;
    font-size: 1.125em;
    padding: 10px 22px;
    background-color: var(--primary);
}



/* ******packages section ****** */


.packages {
    margin-top: 100px;
    display: flex;
    position: relative;
    /* justify-content: space-between; */
}

.package {
    position: relative;
}

.package + .package {
    margin-left: 15px;
}

.image img{
    width: 100%;
    height: 100%;
}

.packages__text {
    width: 100%;
    /* max-width: 80%; */
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.packages__heading {
    font-size: 24px;
    font-weight: 400;
    padding: 12px 0 5px 0;
}

.packages__sub-heading {
    font-size: 16px;
    padding: 0px 0 29px 0;
}

.packages__button {
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    padding: .625rem 1.875rem;
}

.packages__button-primary {
    background-color: var(--primary);
}

.packages__button-purple {
    background-color: var(--purple);
}

.packages__button-orange {
    background-color: var(--secondary);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 98%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}


/* about */

.about {
    margin: 100px auto 100px auto;
    display: flex;
}


.about__text {
    flex-basis: 50%;
    align-self: center;
    margin: 0 100px 0 0;
    padding: 0 20px 0 0;
}

.about__aboutus-heading {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secondary);
}

.about__welcome-heading::after {
    content: "";
    background-color: var(--primary);
    display: block;
    align-self: center;
    width: 8%;
    height: 4px;
    margin-top: 10px;
}

.about__welcome-heading {
    font-size: 38px;
    color: var(--header-text);
    font-weight: 500;
    margin: 0px 0 25px 0;
}

.about__welcome-heading::after {
    align-self: flex-start;
}

.about__paragragh-1,
.about__paragragh-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.about__paragragh-1 {
    color: var(--secondary);
    margin: 0 0 25px 0;
}

.about__paragragh-2 {
    color: var(--light-text);
    margin: 0 0 25px 0;
}

/* .about__button {
    display: inline-block;
    background: var(--primary);
    color: #2f3847;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
} */

.about__button:hover, .hero__button:hover {
    background-color: var(--primary-light);
}

.about__images-block {
    display: flex;
    flex-basis: 50%;
}

.about__images-block img {
    width: 100%;
    height: auto;
}


.vertical {
    align-self: center;
    margin-right: 20px;
}

.about__image-horizontal
+
.about__image-horizontal {
    margin-top: 20px;
}

.horizontal {
    align-self: center;
}

/* classes categories section */

.classes, .testimonials {
    background-color: var(--dark);
    position: relative;
    /* padding: 10px 0 0 0; */
}

.classes {
    padding: 90px 0 0 0;
}

.classes__text,
.team__text,
.testimonials__text {
    margin: 0px auto;
    text-align: center;
    max-width: 85%;
    font-size: 18px;
    text-align: center;
}

.about__welcome-heading,
.classes__heading,
.team__heading,
.testimonials__heading,
.news__heading {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: column;
}

.classes__heading,
.team__heading,
.testimonials__heading,
.news__heading {
    text-align: center;
}

/* .about__welcome-heading::after, */
.classes__heading::after,
.team__heading::after,
.testimonials__heading::after,
.news__heading::after,
.contact__heading::after {
    content: "";
    background-color: var(--primary);
    display: block;
    align-self: center;
    width: 8%;
    height: 4px;
    margin-top: 10px;
}

.classes__paragraph,
.team__paragraph,
.testimonials__paragraph {
    font-size: 18px;
    line-height: 1.3;
    padding: 0px 20px 0px 20px;
}

.classes__heading,
.classes__paragraph,
.testimonials__heading,
.testimonials__paragraph {
    color: #ffffff;
}

.classes__classes-categories {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    margin: 70px auto 0 auto;
}

.classes__category img {
    width: 100%;
    height: 100%;
}

.classes__category {
    position: relative;
    margin: 0;
}

.classes__category-text {
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    background: rgba(19, 25, 26, .7);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    bottom: 0px;
    left: 0;

}

/* meet our team */

.team, .news {
    margin-top: 70px;
    margin-bottom: 90px;
}

.team__cards, .news__cards {
    display: flex;
    margin: 70px 0 70px 0;
}


.team__card {
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}

.team__card + .team__card {
    margin-left: 20px;
}

.card__image,
.news__card-image {
    width: 100%;
    height: auto;
}

.card__body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px 10px 20px 10px;
}

.card__title {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 6px 0;
}

.card__subtitle {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 12px 0;
}

.card__title,
.card__subtitle {
    text-align: center;
    color: var(--dark);
}


.socials__icon + .socials__icon {
    margin-left: 14px;
}

.button-center {
    text-align: center;
}

.team__button, .news__button, .about__button {
    display: inline-block;
    background: var(--primary);
    color: #2f3847;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    padding: 20px 35px 20px 35px;
    /* margin: 60px auto 60px auto; */
    cursor: pointer;
}

.team__button:hover, .news__button:hover, .team__button:hover {
    background-color: var(--primary-light);
}

/* testimonials */

.testimonials {
    padding: 90px 0 90px 0;
}

.testimonials__client-image {
    margin: 40px 0 20px 0;
}

.testimonials__client-name,
.testimonials__from {
    color: #ffffff;
}

.testimonials__client-name {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0px 0 6px 0;
    /* font-weight: 400; */
}

.testimonials__from {
    font-size: 15px;
    letter-spacing: 1px;
    /* font-weight: 400; */
}


/* Recent News */


.news__cards {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.news__card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: auto;
    background-color: var(--dark);
    width: 30%;
    padding: 15px 20px 25px 20px;
}


.news__card-heading {
    font-size: 14px;
    color: var(--primary);
    margin: 25px 0 20px 0;
}

.news__card-paragraph {
    font-size: 14px;
    margin: 0px 0 20px 0;
}

.news__card-paragraph, .news__card-info-item {
    color: #ffffff;
}


.news__card-info {
    display: flex;
}

.news__card-info-content {
    display: flex;
    width: 100%;
}

.news__card-info-content img {
    width: 16px;
    height: auto;
    border-radius: 50%;
}


.news__card-info {
    margin-top: auto;
}

.news__card-info-item {
    font-size: 12px;
    margin-left: 10px;
    align-self: center;
}

/* contact us */

.contact {
    background-color: var(--dark);
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}


.contact__form-section {
    width: 50%;
    max-width: 500px;
    margin: 0 110px 0 auto;
    padding: 110px 0 100px 0;
}

.contact__form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.contact__form-input:not(:last-child) {
    width: 100%;
    background-color: var(--dark);
    color: #ffffff;
    border: 1px solid var(--primary);
    padding: 20px 10px 20px 10px;
    margin-bottom: 20px;
}

.contact__heading {
    font-size: 36px;
    margin-bottom: 20px;
    display: inline-block;
    color:#ffffff;
}

.contact__heading::after {
    width: 50%;
}

.contact__submit {
    background-color: var(--primary);
    padding: 20px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.contact__image-section {
    width: 50%;
    height: 100%;
    align-self: center;
}

.contact__image {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.contact__contact-info {
    display: block;
    font-size: 16px;
    margin-top: 50px;
    color: #ffffff;
}

/* footer */
.footer {
    background-color: var(--footer-dark);
}

.footer__logo-contact-tag-wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding: 80px 0 70px 0;
    display: flex;
}

.footer__logo {
    align-self: center;
    padding: 0 0 0 30px;
}

.footer__contact-tags-wrapper {
    width: 100%;
    justify-content: space-between;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
}

.footer__quick-contact {
    width: 40%;
}

.footer__tags {
    width: 60%;
    max-width: 320px;
}

/* .footer-quick-contact */

.quick-contact__heading,
.tags__heading {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
}

.quick-contact__address {
    font-size: 14px;
    color: var(--light-text);
    margin-bottom: 10px;
}

.quick-contact__number,
.quick-contact__email,
.tags-items__item {
    color: var(--light-text);
    font-size: 13px;
}

.quick-contact__image,
.quick-contact__social-image {
    width: 18px;
    display: inline-block;
}

.quick-contact__phone-wrapper {
    margin-bottom: 4px;
}

.quick-contact__phone-wrapper,
.quick-contact__email-wrapper {
    width: 100%;
    display: flex;
}

.quick-contact__number,
.quick-contact__email {
    margin-left: 10px;
}

.quick-contact__socials {
    margin: 15px 0 0 0;
}

.quick-contact__social-image {
    margin-right: 8px;
}

.tags-items__item {
    display: inline-block;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.tags-items__item:hover {
    background-color: var(--primary);
    color: #ffffff;
}


/* footer nav */

.footer__ul {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
}

.footer__list {
    list-style-type: none;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}


.footer__list + .footer__list {
    /* margin-left: 60px; */
    margin-left: 6%;
}

.footer__link {
    color: var(--dark);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.footer__list:hover .footer__link {
    text-decoration: underline;
}

.footer__copyright {
    padding: 22px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

/* responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 990px;
    }

    .hero {
        background-position: 100% 50%;
    }

    .packages__heading {
        font-size: 20px;
        padding: 0px 0 5px 0;
    }

    .packages__sub-heading {
        font-size: 14px;
        padding: 0px 0 29px 0;
    }

    .packages__button {
        font-size: .9em;
        padding: .625rem 1.475rem;
    }

    /* contact */

    .contact__form-section {
        max-width: 400px;
    }


}

  @media only screen and (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .packages {
        margin-top: 70px;
        flex-direction: column;
        align-items: center;
        padding: 0px 40px 0px 40px;
    }

    .package + .package {
        margin-top: 40px;
        margin-left: 0px;
    }

    .packages__heading {
        font-size: 26px;
        padding: 0px 0 5px 0;
    }

    .packages__sub-heading {
        font-size: 18px;
        padding: 0px 0 26px 0;
    }

    .packages__button {
        font-size: 18px;
        padding: .5rem 1.8rem;
    }

    .overlay {
        height: 98%;
    }

        /* contact */

        .contact__heading {
            font-size: 32px
        }

        .contact__form-section {
            width: 100%;
            max-width: 768px;
            margin: 0 auto;
            padding: 70px 50px 70px 50px;
        }

        .contact__image-section {
            display: none;
        }

        /* footer */

        .footer__logo-contact-tag-wrapper {
            padding: 60px 0 70px 0;
            max-width: 668px;
            flex-direction: column;
        }

        .footer__logo {
            align-self: flex-start;
            padding: 0 0 70px 0;
        }


  }

  @media only screen and (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    .page-header {
        align-items: flex-start;
    }

    .page-header__nav-whts-container {
        flex-direction: column;
        /* border: 1px solid red; */
        justify-content: center;
        align-items: center;
    }

    .page-header__nav-whts-container {
        position: absolute;
        background: green;
        /* top: 71.5px; */
        top: -390px;
        left: 0;
        right: 0;
    }

    .page-header__ul {
        flex-direction: column;
    }

    .page-header__list
    +
    .page-header__list {
        margin-left: 0px;
    }

    .page-header__list {
        padding: 30px 0 30px 0;
        text-align: center
    }

    .page-header__whts-contact {
        display: none;
    }

    /* hero */


    .hero {
        background-position: center right;
        min-height: 450px;
    }
    .hero__text-wrapper {
        flex-direction: column;
    }
    .hero__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding: 80px 0px 0px 0px;
    }
    .hero__paragraph {
        margin: 8px 0 50px 0;
    }
    .hero__paragraph, .hero__heading {
        text-align: center;
    }

    /* packages */

    .packages {
        margin-top: 0px;
        flex-direction: column;
    }
    .package {
        position: relative;
        margin-top: 30px;
        /* max-width: 400px; */
        /* height: auto; */
    }

    .overlay {
        height: 99%;
    }

    /* classes */

    .classes__classes-categories {
        grid-template-columns: 1fr 1fr;
    }
    /* about */

    .about, .team, .news {
        margin: 90px auto 90px auto;
        padding: 0 30px 0 30px;
    }

    .about__text {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 0 0;
    }

    .about__welcome-heading,
    .about__welcome-heading::after,
    .about__paragragh-1,
    .about__paragragh-2 {
        text-align: center;
    }

    .about__images-block {
        display: none;
    }

    .about__welcome-heading::after {
        display: inline-block;
        align-self: center;
    }

    .about__paragragh-1 {
        color: var(--secondary);
        margin: 0 0 10px 0;
    }

    .about__paragragh-2 {
        margin: 0 0 50px 0;
    }

    /* team */

    /* .team, .news {
        margin-bottom: 20px;
        padding: 0 30px 0 30px;
    } */

    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team__cards {
        flex-direction: column;
        max-width: 340px;
    }

    .team__card + .team__card {
        margin-top: 30px;
        margin-left: 0;
    }

    /* news */

    .news__cards {
        flex-direction: column;
        align-items: center;
    }

    .news__card +  .news__card {
        margin-top: 30px;
    }

    .news__card {
        width: 100%;
    }

    /* footer */

    .footer__logo {
        align-self: center;
        align-items: center;
        padding: 0 0 0 0;
        margin-bottom: 50px;
    }

    .footer__contact-tags-wrapper {
        max-width: 320px;
        flex-direction: column;
        align-items: center;
    }

    .footer__quick-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .footer__quick-contact {
        text-align: center;
        width: 100%;
    }

    .footer__tags {
        text-align: center;
        width: 100%;
        max-width: inherit;
    }

    .footer__ul {
        padding: 0 40px 0 40px;
    }

    .footer__link {
        font-size: 14px;
    }

}

@media only screen and (max-width: 520px) {
.hero__text {
    /* max-width: 60%; */
    padding: 70px 10px 20px 20px;
}

.hero__paragraph {
    color: #ffffff;
    padding: 0px 10px 20px 20px;
}

.hero__heading {
    font-size: 38px;
}

.hero__button {
    font-size: 1em;
}


    /* packages */
    .packages {
        margin-top: 50px;
    }

    .packages__heading {
        font-size: 20px;
        padding: 0px 0 5px 0;
    }

    .packages__sub-heading {
        font-size: 14px;
        padding: 0px 0 29px 0;
    }

    .packages__button {
        font-size: .9em;
        padding: .625rem 1.475rem;
    }
    .overlay {
        height: 98%;
    }

        /* classes */

    .classes__classes-categories {
        grid-template-columns: 1fr;
    }

    /* about */
    .about {
        margin: 70px auto 100px auto;
    }

    .about__welcome-heading {
        font-size: 32px;
    }
}