@import "/_variables.css";
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); */
/* @import "assets/fonts/Roboto/"; */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    /* background: green; */
    padding: 20px 20px;
}

.page-header__logo .page-header__img {
    align-self: center;
    margin-top: 3px;
}

.page-header__menu {
    /* justify-self: flex-end; */
    /* width: 100%; */
}

.page-header__ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-header__list {
    list-style-type: none;
}

.page-header__list + .page-header__list {
    margin-left: 20px;
}


.link {
    text-decoration: none;
    color: var(--dark);
}

.page-header__link {
    font-weight: 300;
}

/* hero section */

.hero {
    background: url('/assets/images/girl-resting-after-exercises-gym_152625-820_auto_x2_auto_x2.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 40%; */
    background-position: center;
        /* width: 100%; */
    /* max-height: 100vh; */
    min-height: 571px;
    height: 100%;
    /* height: calc(100vh - 55px); */
}

.hero__text-wrapper {
    display: flex;
    
    /* justify-content: center; */
}


.hero__text {
    align-self: center;
    /* margin-top: 120px; */
    max-width: 60%;
    padding: 160px 10px 20px 20px;
    /* text-align: left; */
    /* margin: 0 auto;  */
}

.hero__paragraph {
    color: #c7c7c7;
}

.hero__heading {
    color: #ffffff;
    font-size: 46px;
    margin-bottom: 20px;
    /* font-weight: 600; */
}

.hero__button {
    margin: 0;
    color: #fff;
    width: 100%;
    font-size: 1.125em;
    padding: 10px 22px;
    background-color: var(--primary);

    margin-top: 30px;
}



/* ******packages section ****** */


.packages {
    margin-top: 100px;
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    
}

.package {
    position: relative;
}

.package + .package {
    margin-left: 15px;
}

.image img{
    width: 100%;
    height: auto;
}

.packages__text {
    width: 100%;
    /* max-width: 80%; */
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.packages__heading {
    font-size: 24px;
    font-weight: 400;
    padding: 12px 0 5px 0;
}

.packages__sub-heading {
    padding: 0px 0 29px 0;
}

.packages__button {
    padding: 10px 30px;
    color: #ffffff;
}

.packages__button-primary {
    background-color: var(--primary);
}

.packages__button-purple {
    background-color: var(--purple);
}

.packages__button-orange {
    background-color: var(--secondary);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}


/* about */

.about {
    margin-top: 100px;
    display: flex;
}


.about__text {
    flex-basis: 50%;
    align-self: center;
    margin: 0 100px 0 0;
    padding: 0 20px 0 0;
}

.about__aboutus-heading {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secondary);
}

.about__welcome-heading {
    font-size: 38px;
    color: var(--header-text);
    font-weight: 500;
    margin: 0px 0 25px 0;
}

.about__welcome-heading::after {
    content: "";
    /* border-bottom: 2px solid var(--primary); */
    background-color: var(--primary);
    display: block;
    width: 20%;
    height: 4px;
    margin-top: 10px;
}

.about__paragragh-1,
.about__paragragh-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.about__paragragh-1 {
    color: var(--secondary);
    margin: 0 0 25px 0;
}

.about__paragragh-2 {
    color: var(--light-text);
    margin: 0 0 25px 0;
}

.about__readmore {
    display: inline-block;
    background: var(--primary);
    color: #2f3847;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}

.about__readmore:hover {
    background-color: var(--primary-light);
}

.about__images-block {
    display: flex;
    flex-basis: 50%;
}

.about__images-block img {
    width: 100%;
    height: auto;
}


.vertical {
    align-self: center;
    margin-right: 20px;
}

.about__image-horizontal {
    margin-bottom: 20px;
}

/* classes categories section */


.classes {
    background-color: var(--dark);
    position: relative;
    /* padding: 10px 0 0 0; */
}

.classes__text, .team__text {
    margin: 0 auto;
    text-align: center;
    max-width: 85%;
    font-size: 18px;
    text-align: center;
    padding: 70px 0 70px 0;
}

.classes__heading, .team__heading {
    font-size: 36px;
    margin-bottom: 20px;
    width: auto;
    font-weight: 400;
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: column;
}

.classes__heading::after, .team__heading::after {
    content: "";
    background-color: var(--primary);
    display: block;
    align-self: center;
    width: 8%;
    height: 4px;
    margin-top: 10px;
}

.classes__paragraph, .team__paragraph {
    font-size: 18px;
    line-height: 1.3;
    padding: 0px 20px 0px 20px;
}


.classes__heading,
.classes__paragraph {
    color: #ffffff;
}

.classes__classes-categories {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    margin: 0 auto;
} 

.classes__category img {
    width: 100%;
    height: 100%;
}

.classes__category {
    position: relative;
    margin: 0;
}

.classes__category-text {
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    background: rgba(19, 25, 26, .7);


    width: 100%;
    padding: 10px 0;
    text-align: center;
    bottom: 0px;
    left: 0;

}

/* meet our team */

.team__cards {
    display: flex;
    /* max-width: 100%; */
    /* margin: 0 auto; */
}


.team__card {
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}

.team__card + .team__card {
    margin-left: 20px;
}

.card__image-wrapper > img {
    width: 100%;
    height: auto;
}

.card__body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px 10px 20px 10px;
}

.card__title {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 6px 0;
}

.card__subtitle {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 12px 0;
}

.card__title,
.card__subtitle {
    text-align: center;
    color: var(--dark);
}


.socials__icon + .socials__icon {
    margin-left: 14px;
}

.btn {
    text-align: center;
}

.team__button {
    display: inline-block;
    background: var(--primary);
    color: #2f3847;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    padding: 20px 35px 20px 35px;
    margin: 60px auto 60px auto;
    cursor: pointer;
}

.team__button:hover {
    background-color: var(--primary-light);
}

